@model CrudModais.Models.Cliente

<p>@Html.DisplayNameFor(model => model.Codigo):@Html.DisplayFor(model =>model.Codigo)</p>
<p>@Html.DisplayNameFor(model => model.Nome): @Html.DisplayFor(model => model.Nome)</p>
<p>@Html.DisplayNameFor(model => model.Telefone): @Html.DisplayFor(model => model.Telefone)</p>