@model IEnumerable<CrudModais.Models.Cliente>

@{
    Layout = null;
}


<table class ="ui-widget ui-state-default ui corner-all">
    <thead class="ui-widget-header">
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model =>model.Telefone)
            </th>
            <th>
            <button class="ui-state-default ui-corner-all btn-create">
                <span class="ui-icon ui-icon-plus"></span>
            </button>
                </th>
            <th>
        </tr>
    </thead>
    @foreach (var item in Model)
    { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>item.Telefone)
            </td>
            <td>
                <button class="btn-delete ui-state-default ui-corner-all" data-codigo="@item.Codigo">
                    <span class="ui-icon ui-icon-trash"/>
                </button>
                <button class="btn-edit ui-state-default ui-corner-all"data-codigo="@item.Codigo">
                    <span class="ui-icon ui-icon-pencil" />
                </button>
                <button class="btn-details ui-state-default ui corner-all" data-codigo="@item.Codigo">
                    <span class="ui-icon ui-icon-document" />
                </button>
            </td>
        </tr>
    }
</table>

<script>
    $(function () {
        $(".btn-create").click(function () {
            $("#modal").load("/clientes/create").attr("title", "Adicionar cliente").dialog();
        });

        $(".btn-details").click(function () {
            var codigo = $(this).attr("data-codigo");
            $("#modal").load("/clientes/details/" + codigo).attr("title", "Dados dos clientes").dialog();
        });
        $(".btn-edit").click(function () {
            var codigo = $(this).attr("data-codigo");
            $("#modal").load("/clientes/edit/" + codigo).attr("title", "Editar clientes").dialog();
        });
        $(".btn-delete").click(function () {
            var codigo = $(this).attr("data-codigo");
            $("#modal").load("/clientes/delete/" + codigo).attr("title", "Excluir clientes").dialog();
        });
    });
    </script>