@model WebApresentation.Models.UsuarioModel
@{
    ViewBag.Title = "CadAlter";
}

<h2>Usuario Edição</h2>
@using (Html.BeginForm("CadAlter", "Usuario", FormMethod.Post, new { id = "frmUsuario", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">
                    @Html.LabelFor(x => x.sNome)
                </label>
                <div class=" controls">
                    @Html.TextBoxFor(m => m.sNome, new { @class = "span12 m-wrap", maxlength = "100" })
                    <span class="colorRed help-block">
                        @Html.ValidationMessageFor(x => x.sNome)
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">
                    @Html.LabelFor(x => x.sLogin)
                </label>
                <div class=" controls">
                    @Html.TextBoxFor(m => m.sLogin, new { @class = "span12 m-wrap", maxlength = "100" })
                    <span class="colorRed help-block">
                        @Html.ValidationMessageFor(x => x.sLogin)
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">
                    @Html.LabelFor(x => x.sSenha)
                </label>
                <div class=" controls">
                    @Html.PasswordFor(m => m.sSenha, new { @class = "span12 m-wrap", maxlength = "100" })
                    <span class="colorRed help-block">
                        @Html.ValidationMessageFor(x => x.sSenha)
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">
                    @Html.LabelFor(x => x.fAtivo)
                </label>
                <div class=" controls">
                    @Html.CheckBoxFor(m => m.fAtivo, new { @class = "span12 m-wrap", maxlength = "100" })
                    <span class="colorRed help-block">
                        @Html.ValidationMessageFor(x => x.fAtivo)
                    </span>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Salvar!" />
           }